Java/Communication_prof/ClientWsSoap/src/META-INF/wsdl/localhost_8080/WebSoap/Calculatrice.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.poe.mtp.epsi.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.poe.mtp.epsi.fr/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="Multiplication" type="tns:Multiplication"/>

<xs:element name="MultiplicationResponse" type="tns:MultiplicationResponse"/>

<xs:element name="addition" type="tns:addition"/>

<xs:element name="additionResponse" type="tns:additionResponse"/>

<xs:element name="division" type="tns:division"/>

<xs:element name="divisionResponse" type="tns:divisionResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="soustraction" type="tns:soustraction"/>

<xs:element name="soustractionResponse" type="tns:soustractionResponse"/>

<xs:complexType name="soustraction">
<xs:sequence>
<xs:element name="a" type="xs:double"/>
<xs:element name="b" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="soustractionResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addition">
<xs:sequence>
<xs:element name="a" type="xs:double"/>
<xs:element name="b" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="additionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="division">
<xs:sequence>
<xs:element name="a" type="xs:double"/>
<xs:element name="b" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="divisionResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Multiplication">
<xs:sequence>
<xs:element name="a" type="xs:double"/>
<xs:element name="b" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MultiplicationResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>